@import url(style.css);


.login {
    padding-top: 60px;
    background-image: url(../img/fondo\ azul.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login form {
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
}

.mod-logo {
    margin: 0 auto;
}

.logo-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.logo-input label {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.logo-input input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin: 5px 0;
    background: rgba(8, 105, 186);
    padding: 5px 20px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}

.botones {
    width: 80%;
    display: block;
    margin: 30px auto 0;
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #F7D509;
    color: #004A87;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.box-botones {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px;
}

.box-botones a {
    text-decoration: none;
}

.box-botones a:nth-child(1) {
    background: #e7e7e7;
}

.box-botones a:nth-child(2) {
    background: #555555;
    color: #fff;
}

.pass {
    display: block;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

@media(max-width: 768px){
    .login {
        padding-top: 60px;
    }

    .login form {
        width: 90%;
    }
}

@media(max-width: 480px){
    .login {
        padding-top: 40px;
    }

    .login form {
        width: 100%;
    }
}

@media(max-width: 380px){
    .box-botones {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 0;
    }
}