@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background: #212121;
}

section {
    width: 100%;
}

.p-100 {
    padding: 100px 0;
}

.p-80 {
    padding: 80px 0;
}

.p-60 {
    padding: 60px 50px;
}